home-dot-config/nvim/.netrwhist
home-dot-config/coc/extensions/coc-phpls-data/
home-dot-config/coc/extensions/node_modules/

home-dot-config/coc/history.json
home-dot-config/coc/lists
home-dot-config/coc/mru
home-dot-config/coc/extensions/db.json